In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
shark_tank_data = pd.read_csv('Shark Tank India.csv')
shark_tank_data.shape
df = pd.read_csv('Shark Tank India.csv')

In [3]:
shark_tank_data.head()

,Season Number,Startup Name,Season Start,Season End,Episode Number,Episode Title,Anchor,Pitch Number,Industry,Business Description,...,Guest Name,Ashneer Present,Namita Present,Anupam Present,Vineeta Present,Aman Present,Peyush Present,Ghazal Present,Amit Present,Guest Present
0,1,BluePineFoods,20-Dec-21,04-Feb-22,1,Badlegi Business Ki Tasveer,Rannvijay Singh,1,Food,Frozen Momos,...,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
1,1,BoozScooters,20-Dec-21,04-Feb-22,1,Badlegi Business Ki Tasveer,Rannvijay Singh,2,Vehicles/Electrical Vehicles,Renting e-bike for mobility in private spaces,...,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
2,1,HeartUpMySleeves,20-Dec-21,04-Feb-22,1,Badlegi Business Ki Tasveer,Rannvijay Singh,3,Beauty/Fashion,Detachable Sleeves,...,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
3,1,TagzFoods,20-Dec-21,04-Feb-22,2,"Insaan, Ideas Aur Sapne",Rannvijay Singh,4,Food,Healthy Potato Chips Snacks,...,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
4,1,HeadAndHeart,20-Dec-21,04-Feb-22,2,"Insaan, Ideas Aur Sapne",Rannvijay Singh,5,Education,Brain Development Course,...,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN

In [4]:
shark_tank_data.describe()

,Season Number,Episode Number,Pitch Number,Number of Presenters,Male Presenters,Female Presenters,Transgender Presenters,Couple Presenters,Started in,Yearly Revenue,...,Guest Debt Amount,Ashneer Present,Namita Present,Anupam Present,Vineeta Present,Aman Present,Peyush Present,Ghazal Present,Amit Present,Guest Present
count,321.000000,321.000000,321.000000,321.000000,282.000000,150.000000,3.0,316.000000,184.000000,135.000000,...,2.000000,99.0,276.0,282.0,187.0,268.0,233.0,26.0,83.0,5.0
mean,1.526480,21.482866,161.000000,2.077882,1.719858,1.193333,1.0,0.186709,2018.472826,353.303704,...,23.500000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,0.500078,14.702695,92.808944,0.846044,0.866269,0.428775,0.0,0.390296,2.495750,915.969002,...,15.556349,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.0,0.000000,2005.000000,-1.000000,...,12.500000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,1.000000,9.000000,81.000000,2.000000,1.000000,1.000000,1.0,0.000000,2017.000000,0.000000,...,18.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,2.000000,21.000000,161.000000,2.000000,2.000000,1.000000,1.0,0.000000,2019.000000,100.000000,...,23.500000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,2.000000,33.000000,241.000000,2.000000,2.000000,1.000000,1.0,0.000000,2020.000000,245.000000,...,29.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,2.000000,51.000000,321.000000,6.000000,6.000000,3.000000,1.0,1.000000,2022.000000,7200.000000,...,34.500000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [6]:
shark_tank_data.columns

Index(['Season Number', 'Startup Name', 'Season Start', 'Season End',
       'Episode Number', 'Episode Title', 'Anchor', 'Pitch Number', 'Industry',
       'Business Description', 'Company Website', 'Number of Presenters',
       'Male Presenters', 'Female Presenters', 'Transgender Presenters',
       'Couple Presenters', 'Pitchers Average Age', 'Started in',
       'Pitchers City', 'Pitchers State', 'Yearly Revenue', 'Monthly Sales',
       'Gross Margin', 'Net Margin', 'Original Ask Amount',
       'Original Offered Equity', 'Valuation Requested', 'Received Offer',
       'Accepted Offer', 'Total Deal Amount', 'Total Deal Equity',
       'Total Deal Debt', 'Debt Interest', 'Deal Valuation',
       'Number of sharks in deal', 'Deal has conditions', 'Has Patents',
       'Ashneer Investment Amount', 'Ashneer Investment Equity',
       'Ashneer Debt Amount', 'Namita Investment Amount',
       'Namita Investment Equity', 'Namita Debt Amount',
       'Anupam Investment Amount', 'Anupam Investment Equity',
       'Anupam Debt Amount', 'Vineeta Investment Amount',
       'Vineeta Investment Equity', 'Vineeta Debt Amount',
       'Aman Investment Amount', 'Aman Investment Equity', 'Aman Debt Amount',
       'Peyush Investment Amount', 'Peyush Investment Equity',
       'Peyush Debt Amount', 'Ghazal Investment Amount',
       'Ghazal Investment Equity', 'Ghazal Debt Amount',
       'Amit Investment Amount', 'Amit Investment Equity', 'Amit Debt Amount',
       'Guest Investment Amount', 'Guest Investment Equity',
       'Guest Debt Amount', 'Guest Name', 'Ashneer Present', 'Namita Present',
       'Anupam Present', 'Vineeta Present', 'Aman Present', 'Peyush Present',
       'Ghazal Present', 'Amit Present', 'Guest Present'],
      dtype='object')

In [57]:
# to replace all missing (NaN) values in the DataFrame with 0
df.fillna(0, inplace=True)

In [30]:
#To remove Duplicates
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
316    False
317    False
318    False
319    False
320    False
Length: 321, dtype: bool

In [31]:
print(df['Season End'].unique())

['04-Feb-22' '10-Mar-23']

In [59]:
# Convert to datetime
df['Season Start'] = pd.to_datetime(df['Season Start'], errors='coerce')
df['Season End'] = pd.to_datetime(df['Season End'], errors='coerce')


# Convert to string in desired format
df['Season Start'] = df['Season Start'].dt.strftime('%d-%m-%Y')
df['Season End'] = df['Season End'].dt.strftime('%d-%m-%Y')

In [36]:
df.head(10)

,Season Number,Startup Name,Season Start,Season End,Episode Number,Episode Title,Anchor,Pitch Number,Industry,Business Description,...,Guest Name,Ashneer Present,Namita Present,Anupam Present,Vineeta Present,Aman Present,Peyush Present,Ghazal Present,Amit Present,Guest Present
0,1,BluePineFoods,20-12-2021,04-02-2022,1,Badlegi Business Ki Tasveer,Rannvijay Singh,1,Food,Frozen Momos,...,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
1,1,BoozScooters,20-12-2021,04-02-2022,1,Badlegi Business Ki Tasveer,Rannvijay Singh,2,Vehicles/Electrical Vehicles,Renting e-bike for mobility in private spaces,...,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
2,1,HeartUpMySleeves,20-12-2021,04-02-2022,1,Badlegi Business Ki Tasveer,Rannvijay Singh,3,Beauty/Fashion,Detachable Sleeves,...,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
3,1,TagzFoods,20-12-2021,04-02-2022,2,"Insaan, Ideas Aur Sapne",Rannvijay Singh,4,Food,Healthy Potato Chips Snacks,...,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
4,1,HeadAndHeart,20-12-2021,04-02-2022,2,"Insaan, Ideas Aur Sapne",Rannvijay Singh,5,Education,Brain Development Course,...,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
5,1,Agritourism,20-12-2021,04-02-2022,2,"Insaan, Ideas Aur Sapne",Rannvijay Singh,6,Agriculture,Tourism,...,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
6,1,qZenseLabs,20-12-2021,04-02-2022,3,Aam Aadmi Ke Business Ideas,Rannvijay Singh,7,Food,Food Freshness Detector,...,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
7,1,Peeschute,20-12-2021,04-02-2022,3,Aam Aadmi Ke Business Ideas,Rannvijay Singh,8,Beauty/Fashion,Disposable Urine Bag,...,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
8,1,NOCD,20-12-2021,04-02-2022,3,Aam Aadmi Ke Business Ideas,Rannvijay Singh,9,Food,Energy Drink,...,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
9,1,CosIQ,20-12-2021,04-02-2022,4,Entrepreneurship Ki Wave,Rannvijay Singh,10,Beauty/Fashion,Intelligent Skincare,...,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0

In [37]:
df.groupby('Industry')['Total Deal Amount'
].sum().reset_index()

                        Industry  Total Deal Amount
0                    Agriculture           60.00000
1                    Animal/Pets          110.00000
2                 Beauty/Fashion         1972.00000
3                      Education          440.00000
4                    Electronics          200.00000
5                  Entertainment          150.00000
6                           Food         2457.60005
7           Furnishing/Household          225.00000
8                       Hardware           25.00000
9               Liquor/Beverages          150.00000
10                 Manufacturing         1141.00000
11                Medical/Health         1517.00101
12                      Services         1032.00000
13                        Sports          205.00000
14           Technology/Software          900.00000
15  Vehicles/Electrical Vehicles          421.00000

In [39]:
# Organizing data by domain and funding amount
df_domain = df[['Industry', 'Total Deal Amount']].dropna()
df_domain['Total Deal Amount'] = pd.to_numeric(df_domain['Total Deal Amount'], errors='coerce')
industry_funding = df_domain.groupby('Industry')['Total Deal Amount'].sum().reset_index()
industry_funding = industry_funding.sort_values(by='Total Deal Amount', ascending=False)

print(industry_funding)

                        Industry  Total Deal Amount
6                           Food         2457.60005
2                 Beauty/Fashion         1972.00000
11                Medical/Health         1517.00101
10                 Manufacturing         1141.00000
12                      Services         1032.00000
14           Technology/Software          900.00000
3                      Education          440.00000
15  Vehicles/Electrical Vehicles          421.00000
7           Furnishing/Household          225.00000
13                        Sports          205.00000
4                    Electronics          200.00000
5                  Entertainment          150.00000
9               Liquor/Beverages          150.00000
1                    Animal/Pets          110.00000
0                    Agriculture           60.00000
8                       Hardware           25.00000

In [40]:
#To sort the values
df_domain.sort_values(by='Total Deal Amount', ascending=False)

                Industry  Total Deal Amount
274       Medical/Health              200.0
230  Technology/Software              200.0
258       Medical/Health              200.0
51             Education              150.0
209       Beauty/Fashion              150.0
..                   ...                ...
114                 Food                0.0
113                 Food                0.0
112       Beauty/Fashion                0.0
108                 Food                0.0
320       Medical/Health                0.0

[321 rows x 2 columns]

In [60]:
df['Pitchers Average Age'] = pd.to_numeric(df['Pitchers Average Age'], errors='coerce')

In [54]:
# Continue Analysis
founder_profiles = df.groupby('Industry').agg({
    'Number of Presenters': ['mean', 'max'],
    'Pitchers Average Age': ['mean']
}).reset_index()

print(founder_profiles)

                        Industry Number of Presenters     Pitchers Average Age
                                                 mean max                 mean
0                    Agriculture             2.000000   2                  NaN
1                    Animal/Pets             1.800000   3                  NaN
2                 Beauty/Fashion             1.724138   5                  NaN
3                      Education             2.333333   4                  NaN
4                    Electronics             2.500000   3                  NaN
5                  Entertainment             3.000000   3                  NaN
6                           Food             2.134146   4                  NaN
7           Furnishing/Household             2.307692   4                  NaN
8                       Hardware             2.000000   3                  NaN
9               Liquor/Beverages             2.142857   3                  NaN
10                 Manufacturing             2.000000   4                  NaN
11                Medical/Health             2.166667   4                  NaN
12                      Services             2.464286   5                  NaN
13                        Sports             2.285714   4                  NaN
14           Technology/Software             2.038462   6                  NaN
15  Vehicles/Electrical Vehicles             1.923077   4                  NaN

In [62]:
print(founder_profiles.columns)

MultiIndex([(            'Industry',     ''),
            ('Number of Presenters', 'mean'),
            ('Number of Presenters',  'max'),
            ('Pitchers Average Age', 'mean')],
           )

In [63]:
print(founder_profiles.shape)  # Check number of columns

(16, 4)

In [46]:
founder_profiles.columns = ['Industry', 'Avg Presenters', 'Max Presenters', 'Avg Age']

In [64]:
print(founder_profiles.columns)

MultiIndex([(            'Industry',     ''),
            ('Number of Presenters', 'mean'),
            ('Number of Presenters',  'max'),
            ('Pitchers Average Age', 'mean')],
           )

In [65]:
# Display results
print("\nFounder Profiles by Industry:")
print(founder_profiles)

Founder Profiles by Industry:
                        Industry Number of Presenters     Pitchers Average Age
                                                 mean max                 mean
0                    Agriculture             2.000000   2                  NaN
1                    Animal/Pets             1.800000   3                  NaN
2                 Beauty/Fashion             1.724138   5                  NaN
3                      Education             2.333333   4                  NaN
4                    Electronics             2.500000   3                  NaN
5                  Entertainment             3.000000   3                  NaN
6                           Food             2.134146   4                  NaN
7           Furnishing/Household             2.307692   4                  NaN
8                       Hardware             2.000000   3                  NaN
9               Liquor/Beverages             2.142857   3                  NaN
10                 Manufacturing             2.000000   4                  NaN
11                Medical/Health             2.166667   4                  NaN
12                      Services             2.464286   5                  NaN
13                        Sports             2.285714   4                  NaN
14           Technology/Software             2.038462   6                  NaN
15  Vehicles/Electrical Vehicles             1.923077   4                  NaN

In [50]:
# Export to CSV
output_path = "C:/Users/rajesh/Downloads/Shark Tank US.csv"
df.to_csv(output_path, index=False)

output_path

'C:/Users/rajesh/Downloads/Shark Tank US.csv'